



##########################################
# 所有以 .log 为后缀的文件.
# *.log
# 除了 errors.log 文件外, 其它文件忽略.
# !errors.log
# 可以直接忽略整个目录.
##########################################


/log



